html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  display: flex;
}

body {
  font-family: "Exo2", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  padding: 48px 24px;
  box-shadow: inset 0px 150px 150px -100px rgba(0, 0, 0, 0.5),
    inset 0px -150px 150px -100px rgba(0, 0, 0, 0.5);
  background-color: #111;
  color: #fff;
  background-image: url("../images/bg.jpg");

  & > * {
    align-self: center;
    width: 100%;
  }
}

h1 {
  font-weight: 500;
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
}

.text-selected {
  color: $tileSelected-hover;
}
