.catTiles {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  position: relative;
  display: grid;
  display: -ms-grid;
  flex-direction: column;
  grid-template-areas:
    "tile-1"
    "tile-2"
    "tile-3";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;

  @media (min-width: 720px) and (max-width: 1019px) {
    grid-template-areas:
      "tile-1 tile-1"
      "tile-2 tile-3";
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 61px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 61px 0;
  }

  @media (min-width: 1020px) {
    grid-template-areas: "tile-1 tile-2 tile-3";
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
}
