@import "../config";

.catTile {
  user-select: none;
  -ms-grid-column-align: center;
  justify-self: center;
  font-family: "Trebuchet MS", Arial, sans-serif;
  position: relative;
  width: 320px;
  cursor: pointer;
  min-height: 480px;
  padding: 25px 59px 275px 50px;
  color: $gray;
  background: #58a;
  background: linear-gradient(135deg, transparent 30px, $tileDefault 0) top left;
  border-radius: $borderRadius;

  h2 {
    font-weight: normal;
  }

  &Selected {
    composes: catTile;
    background: linear-gradient(135deg, transparent 30px, $tileSelected 0) top
      left;

    .weightLabel {
      background-color: $tileSelected !important;
    }

    .textUnder .buy {
      color: $tileSelected !important;
      span {
        border-bottom: 1px dashed $tileSelected !important;
      }
    }
  }

  &:first-of-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tile-1;
  }
  &:nth-last-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: tile-2;
  }
  &:last-of-type {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tile-3;
  }

  &::before {
    z-index: 0;
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(135deg, transparent 30px, #f2f2f2 0) top left;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: $borderRadius;
  }

  &::after {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 100%;
    height: 100%;
    background-image: url("../../images/the-cat.png");
    background-repeat: no-repeat;
    background-position: 0 bottom;
    border-radius: $borderRadius;
  }

  * {
    z-index: 1;
    position: relative;
  }

  p,
  ul,
  h2 {
    margin: 0;
  }

  h2 {
    margin-top: 17px;
    margin-bottom: 22px;
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0.8;
    word-break: break-word;

    span {
      font-size: 1.5rem;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    font-size: 0.875rem;
    line-height: 1rem;

    li {
      width: max-content;
    }
  }

  .weightLabel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: $tileDefault;
    font-size: 2.625rem;
    line-height: 1;
    color: #fff;

    span {
      font-size: 21px;
    }
  }

  .textUnder {
    user-select: text;
    cursor: text;
    text-align: center;
    position: absolute;
    width: 100%;
    display: inline-block;
    padding-top: 15px;
    justify-content: center;
    color: #fff;
    font-size: 0.8125rem;
    line-height: 1rem;
    left: 0;
    top: calc(100%);

    .buy {
      cursor: pointer;
      padding: 0;
      margin-left: 6px;
      outline: none;
      color: $tileDefault;
      background: none;

      border: none;

      span {
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px dashed $tileDefault;
      }
    }
  }

  &Hover {
    composes: catTile;
    background: linear-gradient(135deg, transparent 30px, $tileDefault-hover 0)
      top left;

    .weightLabel {
      background-color: $tileDefault-hover !important;
    }

    .textUnder label {
      color: $tileDefault-hover !important;
      span {
        border-bottom: 1px dashed $tileDefault-hover !important;
      }
    }
  }

  &SelectedHover {
    composes: catTile;
    background: linear-gradient(135deg, transparent 30px, $tileSelected-hover 0)
      top left;

    .weightLabel {
      background-color: $tileSelected-hover !important;
    }

    .textUnder label {
      color: $tileSelected-hover !important;
      span {
        border-bottom: 1px dashed $tileSelected-hover !important;
      }
    }
  }

  &Disabled {
    composes: catTile;
    color: $tileDisabled;
    background: linear-gradient(135deg, transparent 30px, $tileDisabled 0) top
      left;

    &::after {
      opacity: 0.5;
    }

    h2 {
      color: $tileDisabled;
    }

    .weightLabel {
      background-color: $tileDisabled;
    }

    .textUnder {
      color: $alert;

      label {
        color: $alert;

        span {
          border-bottom: 1px dashed $alert;
        }
      }
    }
  }

  @media (min-width: 720px) and (max-width: 1019px) {
    &:first-of-type {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }
    &:nth-last-of-type(2) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    &:last-of-type {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
  }

  @media (min-width: 720px) and (max-width: 1019px) {
    margin-bottom: 0 !important;
  }

  @media (max-width: 719px) {
    margin-bottom: 61px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1020px) {
    &:first-of-type {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
    }
    &:nth-last-of-type(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }
    &:last-of-type {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
  }
}
